body{
    margin:0;
    font-family:'Source Sans Pro';
    background:#e6e6ff;
}
.navbar-container{
    color:white;
    background:#6666ff;
    padding:15px;
    box-shadow: 0 0 10px #6666ff;
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
}
.navbar{
    margin:0 auto;
    width:800px;
}
.navbar span{
    padding:10px;
}
.navbar span:hover{
    cursor:pointer;
    background:#4d4dff;
}
.content-container{
    margin:0 auto;
    width:800px;
}
.field{
    background:#ffffff;
    padding:20px;
    margin-bottom:10px;
}
.field h1{
    text-align:center;
}
.subfield{
    padding:10px;

}
.subfield h3{

    padding-top:10px;
    padding-bottom:5px;
}
.subfield input,label{
    margin-top:5px;
}
.subfield label:hover{
    cursor:pointer;
}
.subfield-contents{
    padding:5px;
    padding-left:20px;
}
.subfield-contents table{
    text-align:left;
    margin-left:5px;
}
.subfield-contents th{
    padding:5px;
    font-weight:normal;
}
.aerobic-select{
    padding:10px;
}