body{
    margin:0;
    font-family:'Source Sans Pro';
    background:#e6e6ff;
}
.navbar-container{
    color:white;
    background:#6666ff;
    padding:15px;
    box-shadow: 0 0 10px #6666ff;
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
}
.navbar{
    margin:0 auto;
    width:800px;
}
.navbar span{
    padding:10px;
}
.navbar span:hover{
    cursor:pointer;
    background:#4d4dff;
}
.content-container{
    margin:0 auto;
    width:800px;
    height: auto !important;
    min-height: 80%;
}
.field{
    background:#ffffff;
    padding:20px;
    margin-bottom:10px;
}
.field h1{
    text-align:center;
    margin:0;
}
.subfield{
    padding:10px;
}
.subfield h2{
    margin-left:10px;
}
.subfield input,label,textarea{
    margin-top:5px;
    padding:5px;
}
.subfield input{
    border:none;
    border-bottom:2px solid;
}
.subfield label:hover{
    cursor:pointer;
}
.subfield input[type=radio]{

}
.subfield img{
    width:100px;
    height:100px;
    border-radius:5px;
}
.subfield img:hover{
    opacity:.9;
    cursor:pointer;
}
.subfield-contents{
    padding:5px;
    padding-left:20px;
    display:inline-block;
    vertical-align:top;
    width:370px;
    border-left:solid 3px #6666ff;
}
.subfield-contents table{
    text-align:left;
    margin-left:5px;
}
.subfield-contents th{
    padding:5px;
    font-weight:normal;
}
.subfield-contents th:first-child {
    text-align: right;
}
.notes{
    display:inline-block;
    vertical-align:top;
}
.aerobic-select{
    padding:10px;
}
#closing-thoughts{
    width:100%;
    max-width:100%;
    height:100px;
    max-height:300px;
}
.submit-container{
    margin-top:10px;
    text-align:center;
}
#submit-final{
    height:60px;
    width:180px;
    font-size:25px;
}
#submit-final:hover{
    cursor:pointer;
}
.footer{
    background:#6666ff;
    box-shadow: 0 0 10px #6666ff;
    height:100px;
    margin-top:20px;
}