body{
    margin:0;
    font-family:'Ubuntu';

}
.navbar-container{
    color:white;
    background:#0099cc;
    padding:15px;
    box-shadow: 0 0 10px #a6a6a6;
    font-size:18px;
    margin-bottom:20px;
}
.navbar{
    margin:0 auto;
    width:900px;
}
.navbar img{
    height:60px;
    float:left;
    margin-top:-20px;
    margin-right:30px;
}
.navbar span{
    padding:15px;
}
.navbar span:hover{
    cursor:pointer;
    background:#3399ff;
}
.content-container{
    margin:0 auto;
    width:900px;
    height: auto !important;
    min-height: 80%;
}
.field{
    background:whitesmoke;
    border-radius:5px;
    margin-bottom:15px;
    box-shadow: 0 0 10px #a6a6a6;
}
.field-header{
    border-radius:5px;
}
.field-header:hover{
    cursor:pointer;
}
.field h1{
    text-align:center;
    margin:0;
    background:#0099cc;
    padding:10px;
    border-radius:inherit;
    color:white;
}
.field-content{
    border:solid 1px #bfbfbf;
    border-top:none;
    padding:10px;
    padding-bottom:30px;
}
.subfield{
    padding:10px;
    margin-left:20px;
    margin-right:20px;
}
.subfield h2{
    margin-left:15px;
}
.subfield input,label,textarea{
    margin-top:5px;
    padding:5px;
}
.subfield label:hover{
    cursor:pointer;
}
.subfield input[type=radio]{

}
.subfield img{
    width:110px;
    height:110px;
    border-radius:5px;
}
.subfield img:hover{
    opacity:.9;
    cursor:pointer;
}
.subfield-contents{
    padding:5px;
    padding-left:30px;
    display:inline-block;
    vertical-align:top;
    width:400px;
    border-left:solid 3px #0099cc;
}
.subfield-contents table{
    text-align:left;
    margin-left:5px;
}
.subfield-contents th{
    min-width:100px;
    padding:5px;
    font-weight:normal;
}
.subfield-contents th:first-child {
    text-align: right;
}
.subfield-img{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.notes{
    display:inline-block;
    vertical-align: bottom;
}
.aerobic-select{
    padding:10px;
}
#closing-thoughts{
    width:100%;
    max-width:100%;
    height:100px;
    max-height:300px;
}
.submit-container{
    margin-top:10px;
    text-align:center;
}
#submit-final{
    height:60px;
    width:180px;
    font-size:25px;
}
#submit-final:hover{
    cursor:pointer;
}